.canvas-main {
    display: flex;
    flex-flow: row;
    background-position: center;
    background-size: cover;
    height: 100%;
    
    &-__left-container {
        width: 30%;
    }
    &-__right-container {
        width: 70%;
    }

    .react-draggable {
        position: absolute;
        cursor: move;
    }

}