.slide-list-button {
    width: 80px;
    height: 80px;
    font-size: 40px;
    font-weight: 100;
    color: #000;
    display: flex;
    justify-content: ccenter;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 4px;
    transition: 1ms;

    &:hover {
        background: rgb(242, 248, 156);
        transition: 1ms;
    }
}